html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    font-family: 'sans-serif';
}
#number {
    width: 200px;
    height: 60px;
    font-size: 40px;
}
button {
    margin-top: 20px;
    width: 200px;
    height: 60px;
    font-size: 40px;
}
#result {
    margin-top: 20px;
    font-size: 45px;
}
.ok {
    color: green;
}
.stop {
    color: red;
}

#forester {
    width: 10%;
    background-size: contain;
    position: absolute;
    top: 0;
    right : 0;
    z-index: -1;
}