<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/socket.io.min.js"></script>
    <script src="/static/qrcode.min.js"></script>
    <title>Admin Panel</title>
</head>
<body>
    <h2>Admin Panel</h2>
    <a href="/">Home</a>

    <h3>Počet připojených zařízení: <span id="connected_clients">0</span> <small>(ve hře i admin panelu)</small></h3>

    <h3>IP adresa serveru: {{ ip_address }}</h3>
    <h4>Tuto adresu zadejte do prohlížeče na zařízení, které chcete připojit do hry.</h4>

    <h3>Odeslat zprávu do všech zařízení:</h3>
    <input type="text" id="adminMessage" placeholder="Zpráva">
    <button onclick="sendAdminMessage()">Odeslat</button>
    <p><small>Zpráva se odešle všem připojeným zařízením, které jsou v danou chvíli ve hře.</small></p>
    <p>Poslední odeslaná zpráva: <span id="lastAdminMessage">-</span></p>

    <h3>Upravit data:</h3>
    <ul id="data-list">
        {% if not data %}
            <li>Žádná data</li>
        {% endif %}
        {% for key, value in data.items() %}
            <li>
                <span><strong>{{ key }}:</strong> <span id="{{ key }}">{{ value }}</span></span>
                <button onclick="editData('{{ key }}')">Edit</button>
                <button onclick="deleteData('{{ key }}')">Delete</button>
            </li>
        {% endfor %}
    </ul>

    <button id="download-button">Stáhnout data</button>
    <button id="clear-button">Vymazat data</button>

    <h3>Nahrát data:</h3>
    <input type="file" id="uploadFile" accept=".json">
    <button id="upload-button">Nahrát data</button>

    <br/>
    <br/>

    <div id="qrcode"></div>
    <small>QR kód pro připojení do hry</small>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrcode"), "{{ ip_address }}");
    </script>


    <script src="/static/clientLib.js"></script>
    <script src="/static/admin/script.js"></script>
</body>
</html>
