<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/udavac/style.css">
    <title>Game</title>
</head>
<body>
<p>Udavač</p>
<img src="/static/forester.jpeg" id="forester">
<img src="/static/crusaders/helceletka.png" width="300px">
<br>
<input type="number" id="number" pattern="\d{5}" required autofocus>
<button id="udavac">Udej</button>
<p>Stiskni tlačítko nebo klikni na ENTER</p>
<div id="result"></div>


<script src="/static/clientLib.js"></script>
<script src="/static/udavac/script.js"></script>
</body>
</html>
