<div class="row">
    <div class="mb-3"></div>


    {% if same_level_routes|length == 0 %}
        <div class="col-12">
            <p>Nic k zobrazení</p>
        </div>
    {% else %}
        <h4>Stránky herního adresáře</h4>
        {% for route in same_level_routes %}
            <div class="col-md-6 mb-3">
                <a href="{{ route.name }}"
                   class="btn
                   {% if route.name == 'admin' %}btn-warning
                   {% elif route.is_dir %}btn-primary
                   {% else %}btn-info
                   {% endif %} btn-lg">
                    {{ route.name.capitalize() }}
                </a>
            </div>
        {% endfor %}
    {% endif %}
</div>
