<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
	<script src="/static/clientLib.js"></script>
</head>
<body>
	<h3 id="update_time"></h3>
    <input type="text" id="number" pattern="\d{5}" required>
    <button id="check">Zkontroluj</button>
    <button id="add">Udej</button>
    <div id="result"></div>

    <script src="/static/game.js"></script>

</body>
</html>
