<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Client</title>
	<script src="/static/clientLib.js"></script>
    <!-- <script src="/static/reconnecting-websocket.min.js"></script> -->
	<script src="/static/client.js"></script>
</head>
<body>
    <h2>WebSocket Client</h2>

	<p id="update_time">Waiting for countdown...</p>

    <h3>Set Key Value</h3>
    Key: <input id="setKey" type="text">
    Value: <input id="setValue" type="text">
    <button onclick="setValue()">Set Value</button>

    <h3>Get Key Value</h3>
    Key: <input id="getKey" type="text">
    <button onclick="getValue()">Get Value</button>

    <h3>Response:</h3>
    <p id="response"></p>


</body>
</html>
