<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="/assets/img/forester.png" type="image/x-icon">

<title>{{ title }}</title>

<link rel="stylesheet" type="text/css" href="/{{ folder }}/{{ page }}.css">

<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/css/global_style.css">

<script src="/assets/js/qrcode.min.js"></script>

<script src="/assets/js/socket.io.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/forrestHubLib.js"></script>
{#<script src="/{{ folder }}/{{ page }}.js"></script>#}
